In [8]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
movies = {'Name': ['The Godfather', 'Bird Box', 'Fight Club'],
         'Year': ['1972', '2018', '1999'],
         'Rating': ['9.2', '6.8', '8.8']}

In [5]:
df = pd.DataFrame(movies)
df.head()

            Name  Year Rating
0  The Godfather  1972    9.2
1       Bird Box  2018    6.8
2     Fight Club  1999    8.8

In [11]:
df['Rank'] = df['Rating'].rank(ascending=0)

In [12]:
df.head()

            Name  Year Rating  Rank
0  The Godfather  1972    9.2   1.0
1       Bird Box  2018    6.8   3.0
2     Fight Club  1999    8.8   2.0

In [17]:

dict1 = {'Driver': ['Hamilton', 'Vettel', 'Raikkonen',
                    'Verstappen', 'Bottas', 'Ricciardo',
                    'Hulkenberg', 'Perez', 'Magnussen',
                    'Sainz', 'Alonso', 'Ocon', 'Leclerc',
                    'Grosjean', 'Gasly', 'Vandoorne',
                    'Ericsson', 'Stroll', 'Hartley', 'Sirotkin'],
 
         'Points': [408, 320, 251, 249, 247, 170, 69, 62, 56,
                    53, 50, 49, 39, 37, 29, 12, 9, 6, 4, 1],
 
         'Age': [33, 31, 39, 21, 29, 29, 31, 28, 26, 24, 37,
                 22, 21, 32, 22, 26, 28, 20, 29, 23]}
df = pd.DataFrame(dict1)

In [18]:
df.head()

       Driver  Points  Age
0    Hamilton     408   33
1      Vettel     320   31
2   Raikkonen     251   39
3  Verstappen     249   21
4      Bottas     247   29

In [19]:
df.max()

Driver    Vettel
Points       408
Age           39
dtype: object